<script>
  document.title = "Báo cáo ra vào cổng";
</script>
<script src="/path/to/jquery.min.js"></script>
<script src="/path/to/jquery.fn.gantt.js"></script>

<link
  href="/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<style></style>
<style>
  .header_title {
    font-size: 16px;
    font-weight: 500;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;

    padding-left: 20px;
    margin-bottom: 20px;
  }
  .header_main {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    /* box-shadow: 5px 10px 8px #888888;
    background-color: #fff; */
  }
  .export_excel {
    width: 110px;
    height: 30px;
    border: 1px solid #26eb4a;
    cursor: pointer;
    color: #138027;
    border-radius: 3px;
  }
  .export_excel:hover {
    background-color: #138027;
    color: white;
  }
  .load_data {
    width: 110px;
    height: 30px;
    border-radius: 1px solid hsl(0, 75%, 56%);
    border: 1px solid #f4a80f;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4a80f;
    border-radius: 3px;
  }
  .load_data:hover {
    background-color: #f4a80f;
    color: white;
  }
  .wrapp_search {
    display: flex;
    gap: 10px;
    padding-right: 20px;
  }
  .export_excel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .load_data {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_content {
    width: 96.5%;
    height: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 20px;
  }
  /* .header_gate {
    box-shadow: 5px 10px 8px #888888;
    background-color: #fff;
    height: 200px;
  } */
  .header_content {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .input-group .form-control {
    width: 128px;
  }
  .input_direction {
    width: 100px;
    opacity: 0.4;
    height: 30px;
  }
  .info_direction {
    display: flex;
    gap: 10px;
  }
  span.span_direction {
    margin-right: 7px;
  }
  span.text_direction1 {
    margin-right: 27px;
  }
  span.text_direction2 {
    margin-right: 2px;
  }
  span.text_direction4 {
    margin-right: 4px;
  }
  span.text_direction3 {
    margin-right: 7px;
  }
  span.text_direction6 {
    margin-right: 20px;
  }
  span.text_direction5 {
    margin-right: 8px;
  }
  .header_checkbox {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 5px;
  }
  .span_checkbox {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  .check_period {
    display: flex;
    flex-direction: column;

    margin-top: 8px;
  }
  .span_check-time {
    font-size: 14px;
    font-weight: 500;
  }
  .input_planvessel {
    margin-left: 1rem;
    padding-left: 7.5px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    height: 2rem;
    width: 15.6rem;
  }
  .main_report {
    box-shadow: 5px 10px 8px #888888;
    background-color: #fff;
    height: 600px;
  }
  .main_container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .text_container-header {
    margin-right: 15px;
    border: none;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin: 20px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #0040ff40;
    min-width: 110px;
  }
  td {
    border: 1px solid #dddddd;
    text-align: center;
  }
  .search_data {
    opacity: 0.4;
  }
  .wrapp_table {
    overflow: auto;
  }
</style>
<div>
  <div class="main_report">
    <% %>
    <!-- Header -->

    <div class="header_gate">
      <!-- header tiltle -->
      <div class="header_main">
        <div class="header_title">BÁO CÁO RA VÀO CỔNG</div>
        <div class="wrapp_search">
          <div class="export_excel">
            <span class="btn-icon"><i class="ti-file"></i>Xuất Ecxel</span>
          </div>
          <div class="load_data">
            <span class="btn-icon"><i class="ti-search"></i>Nạp dữ liệu</span>
          </div>
        </div>
      </div>

      <!-- Header content -->
      <div class="header_content">
        <!-- IN OUT -->
        <div class="header_checkbox">
          <div class="check_in">
            <input type="checkbox" />
            <span class="span_checkbox">Vào</span>
          </div>

          <div class="check_out">
            <input type="checkbox" />
            <span class="span_checkbox">Ra</span>
          </div>
        </div>
        <!-- Time -->
        <div class="check_period">
          <div style="display: flex; gap: 10px">
            <span class="span_check-time">Lịch trình tàu</span>
            <div class="row form-group">
              <input
                id="VoyageKey"
                class="form-control form-control-sm input-required"
                type="text"
                hidden
              />

              <input
                class="input_planvessel"
                id="VesselName"
                placeholder="Tên tàu | Chuyến nhập | Chuyến xuất"
                type="text"
              />
              <!-- -->
              <button
                id="chooseVessel"
                class="btn btn-success btn-icon-only btn-circle btn-sm btn-air ml-2"
                style="height: 1.65rem; width: 1.65rem"
                title="Chọn tàu"
              >
                <i class="ti-plus"></i>
              </button>

              <button
                id="nochooseVessel"
                class="btn btn-danger btn-icon-only btn-circle btn-sm btn-air ml-2"
                style="height: 1.65rem; width: 1.65rem"
                title="Bỏ chọn"
              >
                <i class="ti-close"></i>
              </button>
            </div>
          </div>

          <div style="display: flex; gap: 33px">
            <span class="span_check-time">Thời gian</span>
            <div style="display: flex; gap: 20px">
              <div class="">
                <div class="input-group">
                  <input
                    class="form-control form-control-sm input-required width_date"
                    id="TIMEIN"
                    type="text"
                    autocomplete="off"
                    placeholder="Thời gian bắt đầu"
                    value=""
                  />
                </div>
              </div>

              <div class="">
                <div class="input-group">
                  <input
                    class="form-control form-control-sm input-required width_date"
                    id="TIMEIN"
                    type="text"
                    autocomplete="off"
                    placeholder="Thời gian kết thúc"
                    value=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CÒn lại -->
        <div style="display: flex; gap: 20px">
          <!-- Cột1 -->
          <div style="display: flex; flex-direction: column; gap: 10px">
            <div>
              <span class="text_direction1">Hướng</span>
              <select class="input_direction input_direction1">
                <option class="text_option" value="Hàng nhập">Hàng nhập</option>
                <option value="Hàng xuất">Hàng xuất</option>
              </select>
              <!-- <input class="input_direction" type="" /> -->
            </div>
            <div>
              <span class="text_direction2">Số vận đơn</span>
              <input class="input_direction input_direction2" type="text" />
            </div>
          </div>
          <!--Cột2 -->
          <div style="display: flex; flex-direction: column; gap: 10px">
            <div>
              <span class="text_direction3">Phương án</span>
              <select class="input_direction input_direction3">
                <% result[1].forEach((item) => { %>
                <option value="<%=item.JobModeName  %>">
                  <%= item.JobModeName %>
                </option>
                <% }); %>
              </select>
            </div>
            <div>
              <span class="text_direction4">Số booking</span>
              <input class="input_direction input_direction4" type="text" />
            </div>
          </div>
          <!-- Cột 3 -->
          <div style="display: flex; flex-direction: column; gap: 10px">
            <div>
              <span class="text_direction5">Loại hàng</span>
              <!-- <input class="input_direction" type="text" /> -->
              <select class="input_direction input_direction5">
                <% result[0].forEach((item) => { %>
                <option value="<%=item.ItemName  %>">
                  <%= item.ItemName %>
                </option>
                <% }); %>

                <!-- <option value="Hàng nhập">Hàng nhập</option>
                <option value="Hàng xuất">Hàng xuất</option> -->
              </select>
            </div>
            <div>
              <span class="text_direction6">Số lệnh</span>
              <input class="input_direction input_direction6" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container -->
    <div class="main_container">
      <div class="container_header">
        <span class="text_container-header">Tìm</span>
        <input class="search_data" type="text" />
      </div>
      <div>
        <span>Số dòng: 0</span>
      </div>
    </div>

    <div class="table_container">
      <div class="wrapp_table">
        <table class="parent_table">
          <tr>
            <th>STT</th>
            <th>Số lệnh</th>
            <th>Lịch trình tàu</th>
            <th>Số vận đơn</th>
            <th>Số Booking</th>
            <th>Hướng</th>
            <th>Loại hàng</th>
            <th>Hàng hóa</th>
            <th>Số lượng</th>
            <th>Trọng lượng</th>
            <th>Vào/ra</th>
            <th>Cổng vào</th>
            <th>Xe vào cổng</th>
            <th>Cổng ra</th>
            <th>Xe ra cổng</th>
            <th>Hàng vào bãi</th>
            <th>Hàng ra bãi</th>
            <th>Số ngày lưu bãi</th>
            <th>Phương tiện</th>
            <th>Số xe/Xà lan</th>
            <th>Số romooc</th>
            <th>Vị trí bãi</th>
            <th>Phương án</th>
            <th>PTGN</th>
            <th>Chủ hàng</th>
            <th>DTTT</th>
            <th>HTTT</th>
            <th>Số hóa đơn</th>
            <th>Số PTC</th>
            <th>Ghi chú</th>
            <th>Cảng chuyển</th>
            <th>Cảng giao nhận</th>
            <th>Ghi chú</th>
          </tr>
          <tr>
            <!-- <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td> -->
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Drop down list -->

<script type="text/javascript">
  $(document).ready(function () {
    $(".load_data").on("click", function () {
      console.log($(".input_direction1").val());
      console.log($(".input_direction2").val());
      console.log($(".input_direction3").val());
      console.log($(".input_direction4").val());
      console.log($(".input_direction5").val());
      console.log($(".input_direction6").val());
      console.log($(".input_direction7").val());

      $.ajax({
        url: "/Report/BaoCao_hanghoa/get-entranceReport",
        dataType: "json",
        type: "POST",
        data: {},
        success: function (data) {
          resolve(data);
        },
        error: function (error) {
          console.log(error);
          reject();
        },
      });
    });
  });
  // end
  $("#TIMEIN").val(moment().add(-7, "day").format("YYYY-MM-DD"));
  $("#TIMEOUT").val(moment().add(7, "day").format("YYYY-MM-DD"));

  $("#TIMEIN,#TIMEOUT").datepicker({
    dateFormat: "yy-mm-dd",
    timeFormat: "hh:mm:ss",
  });
</script>
<link href="/assets/lichtau/lichtau.css" rel="stylesheet" />
<script src="/assets/lichtau/lichtau.js"></script>
<script src="/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
