
    <!-- START PAGE CONTENT-->
    <div class="page-content">
		<link href="https://gtos-csg.cehsoft.com/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
		<style>
		@media (max-width: 767px) {
		.f-text-right    {
			text-align: right;
		}
		}
		.no-pointer{
		pointer-events: none;
		}
		.ibox .ibox-footer {
		padding: 10px 25px 5px 25px;
		}
		.modal_input{
		border-bottom: dotted 1px; 
		width: 70%;
		}
		.cash_input{
		border-bottom: dotted 1px; 
		width: 60%;
		}
		label{
		padding-right: 0px!important;
		}
		
		#contenttable_wrapper .dataTables_scroll #cell-context-1 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-2 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-3 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-4 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-5 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-6 .dropdown-menu .dropdown-item .sub-text,
		#contenttable_wrapper .dataTables_scroll #cell-context-7 .dropdown-menu .dropdown-item .sub-text{
		margin-left: 7px;
		font-size: 12px;
		font-style: italic;
		}
		</style>
		
		<div class="row">
		<div class="col-xl-12" style="font-size: 12px;">
		<div class="ibox collapsible-box">
			<i class="la la-angle-double-up dock-right"></i>
			<div class="ibox-head">
				<div class="ibox-title">LỆNH HẠ HÀNG</div>
			</div>
			<div class="ibox-body pt-0 pb-0 bg-f9 border-e">
				<div class="row ibox mb-0 border-e pb-1 pt-1">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row" id="row-transfer-left">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row form-group">
									<label class="col-sm-2 col-form-label">Tàu</label>
									<div class="col-sm-10 input-group">
										<input class="form-control form-control-sm input-required" id="VesselName" placeholder="Tên tàu" type="text" readonly>
										<span class="input-group-addon bg-white btn mobile-hiden text-success" style="padding: 0 .5rem" title="Chọn tàu" data-toggle="modal" data-target="#payer-modal" id="chooseVessel">
											<i class="la la-anchor"></i>
										</span>										
									</div>
								</div>
							</div>
		
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<!--
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">CN - CX</label>
									<div class="col-sm-8">
										<input class="form-control form-control-sm input-required" id="InOutBoundVoyage" type="text" placeholder="Ch.nhập - Ch.xuất" readonly>
										
									</div>
								</div>
								-->
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">Phương án</label>
									<div class="col-sm-8">
										<input class="form-control form-control-sm input-required" id="JobModeID" type="text" placeholder="Phương án" readonly>
										<input hidden id="VoyageKey">
									</div>
								</div>
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">Phương thức</label>
									<div class="col-sm-8">										
										<input class="form-control form-control-sm input-required" id="MethodID" type="text" placeholder="Phương thức" readonly>
									</div>
								</div>																	
							</div>
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">Ngày lệnh</label>
									<div class="col-sm-8 input-group input-group-sm">
										<div class="input-group">
											<input class="form-control form-control-sm input-required" readonly="readonly" id="IssueDate" type="text" placeholder="Ngày lệnh">
										</div>
									</div>
								</div>			
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">Ghi chú</label>
									<div class="col-sm-8 input-group input-group-sm">
										<input class="form-control form-control-sm" id="remark" type="text" placeholder="Ghi chú">
									</div>
								</div>				
								<!--
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">D/O *</label>
									<div class="col-sm-8 input-group input-group-sm">
										<input class="form-control form-control-sm input-required" id="do" type="text" placeholder="D/O">
									</div>
								</div>								
								<div class="row form-group">
									<label class="col-sm-4 col-form-label">Hạn lệnh *</label>
									<div class="col-sm-8 input-group input-group-sm">
										<div class="input-group">
											<input class="form-control form-control-sm input-required" id="ExpDate" type="text" placeholder="Hạn lệnh">
											<span class="input-group-addon bg-white btn text-danger" id="del-ref-exp-date" title="Bỏ chọn ngày" style="padding: 0 .5rem"><i class="fa fa-times"></i></span>
										</div>
									</div>
								</div>	
								-->					
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row form-group" style="border-bottom: 1px solid #eee">
									<div class="col-12 col-form-label">
										<label class="checkbox checkbox-blue">
											<input type="checkbox" name="chkServiceAttach" id="chkServiceAttach">
											<span class="input-span"></span>
											Đính kèm dịch vụ
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row pl-1" id="row-transfer-right">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1" id="col-transfer">
								<div class="row form-group">
									<label class="col-sm-2 col-form-label" title="Chủ hàng">Chủ hàng *</label>
									<div class="col-sm-10">
										<input class="form-control form-control-sm input-required" id="ShipperName" type="text" placeholder="Chủ hàng">
									</div>
								</div>
								<div class="row form-group">
									<label class="col-sm-2 col-form-label pr-0">Đại diện</label>
									<div class="col-sm-10 input-group">
										<input class="form-control form-control-sm mr-1" id="cmnd" type="text" placeholder="Số CMND/ Số ĐT">
										<input class="form-control form-control-sm mr-1" id="personal-name" type="text" placeholder="Họ tên người đại diện">
										<input class="form-control form-control-sm" id="Email" type="text" placeholder="Địa chỉ Email *" style="width: 5rem">
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ibox-body pt-0 pb-0 bg-f9 border-e">
				<div class="row ibox mb-0 border-e pb-0 pt-0">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 pb-0">
								<div class="row form-group">
									<label class="col-sm-4 col-form-label" title="Đ.tượng thanh toán">ĐTTT *</label>
									<div class="col-sm-8 input-group">
										<input class="form-control form-control-sm input-required" id="CusID" placeholder="Đối tượng thanh toán" type="text">
										<span class="input-group-addon bg-white btn mobile-hiden text-warning" style="padding: 0 .5rem" title="Chọn đối tượng thanh toán" data-toggle="modal" data-target="#payer-modal" id="chooseCustomer">
											<i class="ti-search"></i>
										</span>
									</div>
									<input class="hiden-input" id="cusID" readonly="">
									<input class="hiden-input" id="PaymentTypeID" hidden>
									<input class="hiden-input" id="CusTypeID" hidden>
								</div>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 col-form-label mt-1">
								<i class="fa fa-id-card" style="font-size: 15px!important;"></i> - <span id="CusName"> [Tên đối tượng thanh toán]</span>&emsp;
								<i class="fa fa-home" style="font-size: 15px!important;"></i> -<span id="Address"> [Địa chỉ]</span>&emsp;
								<i class="fa fa-tags" style="font-size: 15px!important;"></i> - <span id="PaymentTypeName" data-value="C"> [Hình thức thanh toán]</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ibox-body pt-0 pb-0 bg-f9 border-e">
				<div class="row ibox mb-0 border-e pb-0 pt-0">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="row form-group ml-auto">
									<button id="addRow" class="btn btn-outline-success btn-sm mr-1" 
										title="Thêm dòng mới">
										<span class="btn-icon"><i class="fa fa-plus"></i>Thêm dòng</span>
									</button>
		
									<button id="removeRow" class="btn btn-outline-danger btn-sm mr-1" title="Xóa những dòng đang chọn">
										<span class="btn-icon"><i class="fa fa-trash"></i>Xóa dòng</span>
									</button>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="row form-group" style="display: inline-block; float: right; margin: 0 auto">
									<label class="radio radio-outline-success pr-4">
										<input name="view-opt" type="radio" id="chk-view-cont" value="bulkList" checked="">
										<span class="input-span"></span>
										Danh sách hàng
									</label>
									<label class="radio radio-outline-success pr-4">
										<input name="view-opt" id="chk-view-cont" value="tariffList" type="radio">
										<span class="input-span"></span>
										Tính cước
									</label>
									<button id="show-payment-modal" class="btn btn-warning btn-sm" title="Thông tin thanh toán" data-toggle="modal">
										<i class="fa fa-print"></i>
										Thanh toán
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row ibox-footer border-top-0">
				<div class="col-12 table-responsive" id="tabBulk">
					<table id="contenttable" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
						<thead>
							<tr style="width: 100%">
								<th class="editor-cancel" col-name="STT">STT</th>
								<th col-name="VoyageKey">Voyage Key</th>
								<th col-name="BillOfLadingORBookingNo">Số vận đơn/ booking</th>
								<th col-name="BillOfLading">Số vận đơn</th>								
								<th col-name="BookingNo">Số booking</th>
								<th col-name="ClassID">Nhập/ xuất tàu</th>	
								<th col-name="IsLocalForeign">Hàng nội/ ngoại</th>	
								<th col-name="POL">Cảng xếp</th>							
								<th col-name="POD">Cảng dỡ</th>							
								<th col-name="FPOD">Cảng đích</th>
								<th col-name="TransitID">TransitID</th>	
								<!--<th col-name="CargoTypeID">Loại hàng</th>-->
								<th col-name="CargoWeight">Trọng lượng hàng</th>
								<th col-name="UnitID">Đơn vị tính</th>
								<th col-name="CommodityDescription">Mô tả</th>								
							</tr>
						</thead>							
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="col-12 table-responsive" id="tabTariff">
					<table id="tblTariff" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
						<thead>
							<tr style="width: 100%">
								<th class="editor-cancel" col-name="STT">STT</th>
								<th col-name="TRFCode">Mã biểu cước</th>	
								<th col-name="TRFCodeName">Tên biểu cước</th>
								<th col-name="TRFDesc">Diễn giải</th>
								<th col-name="JobModeID">Loại công việc</th>
								<th col-name="MethodID">Phương thức</th>
								<th col-name="UnitID">Đơn vị tính</th>
								<th col-name="CargoWeight">Trọng lượng hàng</th>
								<th col-name="Price">Đơn giá</th>
								<th col-name="Discount">Giảm giá (%)</th>
								<th col-name="Total">Thành tiền</th>
								<th col-name="VAT">Thuế</th>
								<th col-name="RateID"></th>
								<th col-name="ExchangeRate"></th>
		
							</tr>
						</thead>							
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>		
		</div>
		</div>
		
		<!-- Vessel modal-->
		<div class="modal fade" id="vessel-modal" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-1" aria-hidden="true" data-whatever="id" style="padding-left: 5%; padding-top: 2%">
		<div class="modal-dialog" role="document" style="min-width: 1024px!important">
		<div class="modal-content" style="border-radius: 4px">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="groups-modalLabel-1">Danh mục tàu</h5>
				<button id="VesselSearch" class="btn btn-outline-warning btn-sm btn-loading mr-1" 
									data-loading-text="<i class='la la-spinner spinner'></i>Nạp dữ liệu"
									 title="Nạp dữ liệu">
					<span class="btn-icon"><i class="ti-search"></i>Nạp dữ liệu</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 0px 15px 15px 15px">
				<div class="row mb-0 border-e border-top-0 pb-1 pt-3">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="row form-group">
										<label class="col-md-2 col-sm-4 col-xs-4 col-form-label">Tàu</label>
										<input id="VesselNameFilter" class="col-md-8 col-sm-10 col-xs-10 form-control form-control-sm" placeholder="Tên tàu" type="text">
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="row form-group">
										<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Năm</label>
										<div class="col-md-8 col-sm-10 col-xs-10 input-group input-group-sm">
											<select id="YearFilter" data-width="100%" data-style="btn-default btn-sm"
													title="Năm"
													style="width: 80%; border-radius: 2px; border-color: rgba(0, 0, 0, .1);">
																									<option value="2016">
														2016		
													</option>
																									<option value="2017">
														2017		
													</option>
																									<option value="2018">
														2018		
													</option>
																									<option value="2019">
														2019		
													</option>
																									<option value="2020">
														2020		
													</option>
																									<option value="2021">
														2021		
													</option>
																									<option value="2022">
														2022		
													</option>
																									<option value="2023">
														2023		
													</option>
																									<option value="2024">
														2024		
													</option>
																									<option value="2025">
														2025		
													</option>
																								
											</select>
										</div>										
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="row form-group">
										<label class="radio radio-success ml-5 mt-1">
											<input type="radio" checked name="VesselFilter" class="css-checkbox" value="1" />
												<span class="input-span"></span>Đến cảng
										</label>								
		
										<label class="radio radio-success ml-3 mt-1 mr-3">
										   <input type="radio" name="VesselFilter" class="css-checkbox" value="2" />
												<span class="input-span"></span>Rời cảng
										</label>   
									</div>
								</div>
							</div>
					</div>
				</div>
				<div class="row ibox-footer border-top-0 mt-3">
					<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
						<table id="tblVessel" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
							<thead>
								<tr style="width: 100%">
									<th col-name="STT">STT</th>
									<th col-name="VoyageKey"></th>
									<th col-name="VesselID">Mã tàu</th>
									<th col-name="VesselName">Tên tàu</th>
									<th col-name="InboundVoyage">Chuyến nhập</th>
									<th col-name="OutboundVoyage">Chuyến xuất</th>
									<th col-name="ETA">ETA</th>
									<th col-name="ETD">ETD</th>
									<th col-name="Status">Status</th>
									<th col-name="InLane">Chuyến nhập</th>
									<th col-name="OutLane">Chuyến xuất</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div  style="margin: 0 auto!important;">
					<button class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon" id="apply-vessel" data-dismiss="modal">
						<span class="btn-label"><i class="ti-check"></i></span>Xác nhận</button>
					<button class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon" data-dismiss="modal">
						<span class="btn-label"><i class="ti-close"></i></span>Đóng</button>
				</div>
			</div>
		</div>
		</div>
		</div>
		
		<!-- Customer modal-->
		<div class="modal fade" id="customer-modal" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-2" aria-hidden="true" data-whatever="id" style="padding-left: 5%; padding-top: 2%">
		<div class="modal-dialog" role="document" style="min-width: 1024px!important">
		<div class="modal-content" style="border-radius: 4px">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="groups-modalLabel-2">DANH MỤC KHÁCH HÀNG</h5>
			</div>
			<div class="modal-body">
				<table id="tblCustomer" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
					<thead>
						<tr style="width: 100%">
							<th col-name="STT">STT</th>
							<th col-name="CusID">Mã khách hàng</th>
							<th col-name="CusName">Tên khách hàng</th>
							<th col-name="Address">Địa chỉ</th>
							<th col-name="CusTypeID"></th>
							<th col-name="CusTypeName">Loại khách</th>
							<th col-name="PaymentTypeID"></th>
							<th col-name="PaymentTypeID">Loại hình thanh toán</th>
						</tr>
					</thead>
					<tbody>
																		<tr>
								<td>1</td>
								<td>0800006882</td>
								<td>FORD VIETNAM LIMITED</td>							
								<td>TU MINH WARD, HAI DUONG CITY HAI DUONG PROVINCE,</td>							
								<td>TSAU</td>				
								<td>Khách hàng thu sau</td>				
								<td>C</td>				
								<td></td>				
							</tr>
														<tr>
								<td>2</td>
								<td>duyna</td>
								<td>nguyen anh duy</td>							
								<td>Quận 9</td>							
								<td>TNGAY</td>				
								<td>Khách hàng thu ngay</td>				
								<td>M</td>				
								<td></td>				
							</tr>
														<tr>
								<td>3</td>
								<td>KH01</td>
								<td>Nguyễn Văn A</td>							
								<td></td>							
								<td>TSAU</td>				
								<td>Khách hàng thu sau</td>				
								<td>C</td>				
								<td></td>				
							</tr>
														<tr>
								<td>4</td>
								<td>phongdd</td>
								<td>duy phong</td>							
								<td></td>							
								<td>TNGAY</td>				
								<td>Khách hàng thu ngay</td>				
								<td>M</td>				
								<td></td>				
							</tr>
																	</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<div  style="margin: 0 auto!important;">
					<button class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon" id="apply-customer" data-dismiss="modal">
						<span class="btn-label"><i class="ti-check"></i></span>Xác nhận</button>
					<button class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon" data-dismiss="modal">
						<span class="btn-label"><i class="ti-close"></i></span>Đóng</button>
				</div>
			</div>
		</div>
		</div>
		</div>
		
		<!-- Thanh toán -->
		<div class="modal fade" id="bill-delivery" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-1" aria-hidden="true" data-whatever="id" style="padding-left: 3%; margin-top: 5em;">
		<div class="modal-dialog" role="document" style="min-width: 1250px!important">
		<div class="modal-content" style="border-radius: 4px">
			<button type="button" class="close text-right" data-dismiss="modal" style="margin-top: 10px; margin-right: 10px;">×</button>
			<div class="modal-body px-5">
				<div class="row">
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<div class="form-group pb-1">
							<h5 class="text-primary" style="border-bottom: 1px solid #eee">THÔNG TIN THANH TOÁN</h5>
						</div>
						<div class="row form-group">
							<label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-form-label" title="Mã KH/ MST">Mã KH/ MST</label>
							<span class="col-form-label modal_input" id="CusID_Bill"></span>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Tên</label>
							<span class="col-form-label modal_input" id="CusName_Bill"></span>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Địa chỉ</label>
							<span class="col-form-label modal_input" id="Address_Bill"></span>
						</div>
						
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Thanh toán</label>
							<div class="col-sm-9">
								<div class="row">
									<a class="col-form-label pr-5" style="pointer-events: none;">
										<i class="fa fa-square" id="p-money"></i> THU NGAY
									</a>
									<a class="col-form-label" style="pointer-events: none;">
										<i class="fa fa-square" id="p-credit"></i> THU SAU
									</a>	
								</div>
							</div>
						</div>
		
						<div class="row form-group mt-3">
							<div class="col-9 ml-sm-auto">
								<div class="row input-group">
									<label class="col-form-label radio radio-outline-blue text-blue mr-4 mx-auto">
										<input name="publish-opt" type="radio" value="dft">
										<span class="input-span" style="margin-top: calc(.5rem - 1px * 2);"></span> PHIẾU TẠM THU
									</label>
									<label class="col-form-label radio radio-outline-danger text-danger mr-4 mx-auto">
										<input name="publish-opt" value="m-inv" type="radio">
										<span class="input-span" style="margin-top: calc(.5rem - 1px * 2);"></span>
										HÓA ĐƠN GIẤY
									</label>
									<label class="col-form-label radio radio-outline-warning text-warning mx-auto">
										<input name="publish-opt" value="e-inv" type="radio" checked>
										<span class="input-span" style="margin-top: calc(.5rem - 1px * 2);"></span>
										HÓA ĐƠN ĐIỆN TỬ
									</label>
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" id="INV_DRAFT_TOTAL">
						<div class="form-group pb-1">
							<h5 class="text-primary" style="border-bottom: 1px solid #eee">Tổng tiền thanh toán</h5>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Thành tiền</label>
							<span class="col-form-label text-center font-bold text-success cash_input" id="AMOUNT"></span>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Tiền thuế</label>
							<span class="col-form-label text-center font-bold text-blue cash_input" id="VAT"></span>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 col-form-label">Tổng tiền</label>
							<span class="col-form-label text-center font-bold text-danger cash_input" id="TAMOUNT"></span>
						</div>
						<div class="row form-group hiden-input">
							<label class="col-sm-3 col-form-label">Giảm trừ</label>
							<span class="col-form-label text-right font-bold text-blue" id="DIS_AMT"></span>
						</div>
		
						<div class="row form-group mt-3" id="payFormIDDiv">
							<label class="col-form-label radio radio-outline-secondary mr-5 ml-5">
								<input name="PayFormID" type="radio" value="M" checked>
								<span class="input-span" style="margin-top: calc(.5rem - 1px * 2);"></span>TIỀN MẶT
							</label>
		
							<label class="col-form-label radio radio-outline-secondary mr-5">
								<input name="PayFormID" type="radio" value="C">
								<span class="input-span" style="margin-top: calc(.5rem - 1px * 2);"></span>CHUYỂN KHOẢN
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="dv-cash" style="margin: 0 auto">
					<button class="btn btn-rounded btn-gradient-purple" id="pay-atm">
						<span class="btn-icon"><i class="fa fa-id-card"></i> Xác nhận thanh toán</span>
					</button>
					<!--
					<button class="btn btn-rounded btn-rounded btn-gradient-lime" id="pay-master-visa">
						<span class="btn-icon"><i class="fa fa-id-card"></i> Thanh toán bằng thẻ MASTER, VISA</span>
					</button>
				-->
				</div>
				<div id="dv-credit" class="hiden-input" style="margin: 0 auto">
					<button id="save-credit" class="btn btn-rounded btn-rounded btn-gradient-lime btn-fix">
						<span class="btn-icon"><i class="fa fa-save"></i> Lưu dữ liệu </span>
					</button>
				</div>
			</div>
		</div>
		</div>
		</div>
		
		
		<!-- Add more row modal --> 
		<div class="modal fade" id="add-row-modal" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-1" aria-hidden="true" data-whatever="id" style="padding-left: 14%; top: 200px">
		<div class="modal-dialog" role="document" style="width: 300px!important">
		<div class="modal-content" style="border-radius: 4px">
			<div class="modal-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row form-group">
						<label class="col-md-4 col-sm-4 col-xs-4 col-form-label" style="text-align: right; margin-right: 5px">Số dòng</label>
						<input id="rowsNumeric" class="col-md-6 col-sm-6 col-xs-6 form-control form-control-sm border-e" placeholder="Số dòng" type="number" value="1" min="0">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div  style="margin: 0 auto!important;">
					<button class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon" id="apply-add-row" data-dismiss="modal">
						<span class="btn-label"><i class="ti-check"></i></span>Xác nhận</button>
					<button class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon" data-dismiss="modal">
						<span class="btn-label"><i class="ti-close"></i></span>Đóng</button>
				</div>
			</div>
		</div>
		</div>
		</div>		
		<script type="text/javascript">
			$(document).ready(function () {
				var _columns = [
						{ width: "80px", data: "STT", name: "STT", title: "STT", className: "text-center  editor-cancel", targets: 0 },
						{ data: "BillOfLadingORBookingNo", name: "BillOfLadingORBookingNo", title: "Số vận đơn/ booking", className: "text-center", targets: 1 },
						 { data: "ClassID", name: "ClassID", title: "Nhập/ xuất tàu", className: "text-center ", targets:2 },
						 { data: "IsLocalForeign", name: "IsLocalForeign", title: "Hàng nội/ ngoại", className: "text-center ", targets:3 },
						 { data: "POL", name: "POL", title: "Cảng xếp", className: "text-center ", targets:4 },
						 { data: "POD", name: "POD", title: "Cảng dỡ", className: "text-center ", targets:5 },
						 { data: "FPOD", name: "FPOD", title: "Cảng đích", className: "text-center ", targets:6 },
						{ data: "TransitID", name: "TransitID", title: "TransitID", className: "text-center ", targets:7 },
						{ data: "CargoWeight", name: "CargoWeight", title: "Trọng lượng hàng", className: "text-center ", targets:8 },
						 { data: "UnitID", name: "UnitID", title: "Đơn vị tính",className: "text-center ", targets:9 },
						 { data: "CommodityDescription", name: "CommodityDescription", title: "Mô tả", className: "text-center ", targets:10 },
						 { data: "rowguid", name: "rowguid", title: "rowguid", visible: false, targets: 12 },
					],
					tbl = $('#contenttable'),
					dataList = <%- JSON.stringify(locals.dataList || []) %>;
				var dataTbl = tbl.newDataTable({
					scrollY: '55vh',
					columnDefs: _columns,
					data: dataList.map((itm, ii) => { return { ...itm, STT: ii + 1 } }),
					order: [[0, 'asc']],
					paging: false,
					keys: true,
					autoFill: {
						focus: 'focus',
					},
					select: true,
					rowReorder: false
				});
		
				var _columns1 = [
				 { width: "80px", data: "STT", name: "STT", title: "STT", className: "text-center  editor-cancel", targets: 0 },
				 { data: "TRFCode", name: "TRFCode", title: "Mã biểu cước", className: "text-center", targets: 1 },
				  { data: "TRFCodeName", name: "TRFCodeName", title: "Tên biểu cước", className: "text-center ", targets:2 },
				  { data: "TRFDesc", name: "TRFDesc", title: "Diễn giải", className: "text-center ", targets:3 },
				  { data: "JobModeID", name: "JobModeID", title: "Loại công việc", className: "text-center ", targets:4 },
				  { data: "MethodID", name: "MethodID", title: "Phương thức", className: "text-center ", targets:5 },
				  { data: "UnitID", name: "UnitID", title: "Đơn vị tính", className: "text-center ", targets:6 },
				 { data: "CargoWeight", name: "CargoWeight", title: "Trọng lượng hàng", className: "text-center ", targets:7 },
				 { data: "Price", name: "Price", title: "Đơn giá", className: "text-center ", targets:8 },
				  { data: "Discount", name: "Discount", title: "Giảm giá (%)",className: "text-center ", targets:9 },
				  { data: "Total", name: "Total", title: "Thành tiền", className: "text-center ", targets:10 },
				  { data: "VAT", name: "VAT", title: "VAT", className: "text-center ", targets:11 },
				  { data: "rowguid", name: "rowguid", title: "rowguid", visible: false, targets: 12 },
			 ],
			 tbl1 = $('#tblTariff'),
			 dataList = <%- JSON.stringify(locals.dataList || []) %>;
		 var dataTbl1 = tbl1.newDataTable({
			 scrollY: '55vh',
			 columnDefs: _columns1,
			 data: dataList.map((itm, ii) => { return { ...itm, STT: ii + 1 } }),
			 order: [[0, 'asc']],
			 paging: false,
			 keys: true,
			 autoFill: {
				 focus: 'focus',
			 },
			 select: true,
			 rowReorder: false
		 });
		   }); 
		
		   $(document).ready(function() {
		  // Hide the datatables on page load
		  $("#tabTariff").hide();
		
		  // Show/hide the datatables based on their current state when the button is clicked
		  $("input[type=radio][name=view-opt]").click(function() {
			if ($("#tabTariff").is(":visible")) {
			  $("#tabTariff").hide(function() {
				$("#tabBulk").show();
			  });
			} else if ($("#tabBulk").is(":visible")) {
			  $("#tabBulk").hide(function() {
				$("#tabTariff").show();
			  });
			} else {
				$("#tabTariff").show();
		
			}
		   });  
		   
		   
		   var sumary = 0;
			$("#tblTariff tbody tr td:nth-child(11)").each(function() {
			  var value = parseFloat($(this).text().replace(/,/g, ''));
			  if (!isNaN(value)) {
				sumary += value;
			  }
			});
			$("<tr style='color: red; font-weight: bold;'><td colspan=10 align=right>Tổng Cộng : </td><td style='text-align: center'>" + sumary + "</td><td></td></tr>").insertAfter($("#tblTariff tr:last"));
			
					   
					   
					   
		  });
		
		</script>
			