<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>GATE MONITOR [CEH]</title>
    <!-- REQUIRED STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
    <!-- <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- REQUIRED PLUGINS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/manes.css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/daterangepicker.css" rel="stylesheet" type="text/css">
    <!-- <link href="/assets/css/all.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/css/dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/flag-css.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fullcalendar.min.css" rel="stylesheet" type="text/css">
    <!-- main.min.css - WISEBOARD CORE CSS -->
    <link href="/assets/css/main.min-1.css" rel="stylesheet" type="text/css">
    <!-- plugins.min.css - ALL PLUGINS CUSTOMIZATIONS -->
    <link href="/assets/css/plugins.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/toastr.min.css" rel="stylesheet" type="text/css">
    <!-- admin.min.css - ADMIN LAYOUT -->
    
    <!-- theme-default.min.css - DEFAULT THEME -->
    <!-- <link href="https://hientruongtest.sp-itc.com.vn/assets/css/theme-default.min.css" rel="stylesheet" type="text/css"> -->
    
    <!-- custom css -->
    <link href="/assets/css/gate-custom.css" media="screen and (min-width: 601px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/assets/css/gate-mobile.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css">
    
    <script src="/assets/js/socket.io.js"></script>
    <!-- <script src="https://hientruongtest.sp-itc.com.vn/assets/js/ContainerValidator.js"></script> -->
</head>
<body>
    <div>Hello</div>
</body>